$container-border-color: #e6e8e8 #d7d9da #b5b5b5;

%button {
  @extend .btn;
  @include box-shadow(5px 5px lighten($btn-primary-color, 10%));

  position: relative;

  &:active {
    @include box-shadow(none !important);

    top: 5px;
    left: 5px;
  }
}

.main {
  @extend .container;
  background-color: darken($gray-lightest, 7%);
  border: 1px solid;
  border-color: $container-border-color;

  padding: 2rem;

}

.alert {
  @extend .alert;
  @extend .alert-danger;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  @include box-shadow(5px 5px);
}

.homepage-image {
  @include img-fluid();
}

.navigation {
  @extend .navbar;
  @extend .navbar-fixed-top;

  background-color: $brand-primary;
  border-bottom: 2px solid #62bf94;
}

.navigation-list {
  @extend .nav;
  @extend .navbar-nav;
  @include pull-right();
}

.navigation-item {
  @extend .nav-item;
}

.navigation-link {
  @extend .nav-link;

  color: $brand-inverse;
}

.navigation-button {
  @extend .navigation-link;
  @extend %button;
  @extend .btn-info;
  @include box-shadow(5px 5px darken($brand-info, 35%));

  color: white !important;

  &:hover, &:active {
    color: white !important;
  }
}

@keyframes rainbow {
  0% {text-shadow: 1px 1px red;}
  25% {text-shadow: 1px 1px blue;}
  50% {text-shadow: 1px 1px chocolate;}
  75% {text-shadow: 1px 1px green;}
  100% {text-shadow: 1px 1px purple;}

}

.brand {
  @extend .navbar-brand;

  animation: rainbow 1s infinite;
  animation-timing-function: step-end;

  color: white;
  font-weight: bold;

  &:hover, &:focus {
    color: aqua;
  }
}

.login-form {

}

.login-row {
  @include make-row();
  @extend .form-group;
}

.login-input-container {
  @extend .col-sm-8;
}

.login-input {
  @extend .form-control;
}

.login-label {
  @extend .col-sm-12;
  @extend .col-form-label;
}


.registration-form {

}

.registration-row {
  @include make-row();
  @extend .form-group;
}

.registration-input-container {
  @extend .col-sm-5;
}

.registration-input {
  @extend .form-control;
}

.registration-label {
  @extend .col-sm-12;
  @extend .col-form-label;
}


.ring-form, .site-form {

}

.ring-row, .site-row {
  @include make-row();
  @extend .form-group;
}

.ring-input-container {
  @extend .col-sm-5;
}

.site-input-container {
  @extend .col-sm-10;
}

.ring-input, .site-input {
  @extend .form-control;
}

.ring-label, .site-label {
  @extend .col-sm-12;
  @extend .col-form-label;
}

.ring-list, .site-list {
  @extend .list-group;

  margin-bottom: 20px;
}

.ring-item, .site-item {
  $ring-item-bg: #dadae2;
  @extend .list-group-item;

  min-height: 3em;
  margin: 10px 0;
  color: black;

  background-color: $ring-item-bg;
  border: 1px solid;
  border-color: $container-border-color;

  &:hover {
    color: black;
    background-color: darken($ring-item-bg, 2%);
  }
}

.ring-action {
  visibility: hidden;

  .ring-item:hover & {
    visibility: visible;
  }
}
.submit-button {
  @extend .btn-primary;
  @extend %button;
}

.ring-action {
  @include pull-right();
}

$toolbar-height: 45px;

.site-container {
  padding-top: $toolbar-height;
}

.ring-toolbar {
  @extend .navbar;
  @extend .navbar-fixed-top;

  background-color: #1b272d;
  color: white;
  height: $toolbar-height;
  border-bottom: 2px solid #3661ff;
  text-align: center;
  padding: 4px;
}

.ring-iframe {
  border: 0;

  outline: 0;
  position: absolute;
  width: 0px;
  min-width: 100%;
  height: calc(100% - #{$toolbar-height + 1});
  top: $toolbar-height;
  left: 0;
}

.toolbar-ring {
  @extend .brand;
  
  font-size: 14px;
  line-height: 0.75em;
  float: none;
}

.toolbar-status {
  float: none;
  height: ($toolbar-height - 8px);
  display: inline-block;
  text-align: center; 
}

.toolbar-previous, .toolbar-next {
  line-height: 0.5em;
  font-weight: bold;
  display: inline-block;
  font-size: 46px;
  position: relative;
  bottom: 0.75rem;
}

.toolbar-link {
  color: white;

  &:hover, &:active, &:focus {
    color: aqua;
    text-decoration: none;
  }
}

.toolbar-current {
  line-height: 1.5em;
  position: relative;
  bottom: 5px;
  width: 200px;
}

.toolbar-brand {
  @extend .brand;

  font-size: 18px;
  position: absolute;
  left: 1rem;
  top: 4px;
  line-height: 2em;

  @include media-breakpoint-down(xs) {
    font-size: 12px;
    left: 5px;
    top: -5px;
  }
}

.toolbar-main {
  display: inline-block;
  
  @include media-breakpoint-down(xs) {
    float: right;
    margin: 0 10px;
  }  
}
