.btn {
  @include box-shadow(5px 5px $btn-primary-color);
  
  position: relative;
  
  &:active {
    @include box-shadow(none);
    
    top: 5px;
    left: 5px;
  }

  &:focus {
    @include box-shadow(5px 5px lighten($btn-primary-color, 10%));
  }
}

 %button {
  @extend .btn;
  @extend .btn-primary;
}

.alert {
  @extend .alert;
  @extend .alert-danger;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  @include box-shadow(5px 5px);
}

.homepage-image {
  @include img-fluid();
}

.navigation {
  @extend .navbar;
  @extend .navbar-fixed-top;

  background-color: $brand-primary;
  border-bottom: 5px solid #e5e5e5;
}

.navigation-list {
  @extend .nav;
  @extend .navbar-nav;
  @include pull-right();
}

.navigation-item {
  @extend .nav-item;
}

.navigation-link {
  @extend .nav-link;

  color: $brand-inverse;
}

.navigation-button {
  @extend .navigation-link;
  @extend .btn;
  @extend .btn-info;

  @include box-shadow(5px 5px $btn-primary-color);
}

@keyframes rainbow {
  0% {text-shadow: 1px 1px #ff0000;}
  20% {text-shadow: 1px 1px #ff8000;}
  40% {text-shadow: 1px 1px #ffff00;}
  60% {text-shadow: 1px 1px #80ff00;}
  80% {text-shadow: 1px 1px #00ff00;}
  100% {text-shadow: 1px 1px  #8000ff;}
}

.brand {
  @extend .navbar-brand;

  animation: rainbow 1s infinite;
  animation-timing-function: step-end;
  
  color: black;
  font-weight: bold;

  &:hover {
    color: #fff;
  }
}

.login-form {

}

.login-row {
  @include make-row();
  @extend .form-group;
}

.login-input-container {
  @extend .col-sm-5;
}

.login-input {
  @extend .form-control;
}

.login-label {
  @extend .col-sm-12;
  @extend .col-form-label;
}


.registration-form {

}

.registration-row {
  @include make-row();
  @extend .form-group;
}

.registration-input-container {
  @extend .col-sm-5;
}

.registration-input {
  @extend .form-control;
}

.registration-label {
  @extend .col-sm-12;
  @extend .col-form-label;
}


.ring-form {

}

.ring-row {
  @include make-row();
  @extend .form-group;
}

.ring-input-container {
  @extend .col-sm-5;
}

.ring-input {
  @extend .form-control;
}

.ring-label {
  @extend .col-sm-12;
  @extend .col-form-label;
}

.ring-list {
  @extend .list-group;
}

.ring-item {
  @extend .list-group-item;

  min-height: 3em;
  margin: 5px 0;
}

.ring-action {
  visibility: hidden;

  .ring-item:hover & {
    visibility: visible;
  }
}
.submit-button {
  @extend %button;
}

.ring-action {
  @include pull-right();
}
